name: Pull actions

on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - uses: actions/checkout@v6

      - name: Faster HACS validation
        if: "github.head_ref != 'release' || github.base_ref != 'main'"
        uses: TheRealWaldo/faster-hacs-action@v0.0.7
        with:
          category: integration
          ignore: brands wheels

      - name: HACS validation
        if: "github.ref == 'main' || (github.base_ref == 'main' && github.head_ref == 'release')"
        uses: hacs/action@22.5.0
        with:
          category: integration
          ignore: brands wheels

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master

  style:
    runs-on: ubuntu-latest
    name: Check style formatting
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci

      - name: Pull request linter action
        uses: JulienKode/pull-request-name-linter-action@v20.1.0

      - name: Commit Linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: wagoid/commitlint-github-action@v6.2.1

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.x"

      - run: python3 -m pip install black

      - run: black .

  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    needs:
      - style
      - validate
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Fetch Dependabot Metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge for patches
        if: ${{ steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr merge --auto --rebase --delete-branch "${{ github.event.pull_request.html_url }}"
